.root,
#scrollPane,
#scrollPane > .viewport,
#dialogContainer {
    -fx-background-color: -wally-background;
}

#dialogContainer .label {
    -fx-text-fill: -wally-text;
}
.root {
    -wally-background: black;
    -wally-text: white;
}
